html {
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	line-height: 1.6;
	font-size: 19px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Open Sans", "Archivo Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--color-primary: #191970;
	--color-secondary: tomato;
	--color-white: white;
	--color-black: black;
	--color-box-shadow: 0px 1px 2px 0px #99a3ad, 0px 0px 2px rgba(0, 0, 0, 0.72);
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Open Sans", , sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	margin: 0;
}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

h2 {
	font-size: 2rem;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	color: var(--color-primary);
	grid-column: 1 / -1;
	max-width: 768px;
	margin: auto;
	text-align: center
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header {
	height: 100%;
	min-height: 100vh;
}

header h3 {
	margin: 0;
	font-size: 2.8rem;
	line-height: 1.2;
}

.button {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	max-width: 300px;
	padding: 16px;
	background: var(--color-secondary);
	color: #ffff;
	border-radius: 2px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-weight: 600;
	font-size: 1em;
	white-space: normal;
	box-shadow: var(--color-box-shadow);
}

.button-lg {
	display: flex;
	min-width: 200px;
	justify-content: space-between;
}

#support {
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 2px 16px;
	white-space: normal;
	font-weight: 600;
	font-size: 12.25px;
	background: var(--color-secondary);
	color: #ffff;
	border-radius: 2px;
	text-transform: uppercase;
}

#support svg {
	fill: #fff;
	margin-left: 6px;
	width: 16px;
	height: 16px;
}

button:hover,
.button:hover {
	opacity: 0.8;
}

button:active,
.button:active {
	opacity: 0.9;
}

iframe {
	height: 100%;
	width: 100%;
	min-height: 368px;
	max-width: 768px;
}

.text-primary {
	color: var(--color-primary);
}

.text-secondary {
	color: var(--color-secondary);
}

.text-white {
	color: #fff;
}

.background {
	color: #fff;
	background: var(--color-primary);
}

/*textboxes*/
.textbox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.textbox-justify {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

a {
	text-decoration: none;
}

.title {
	text-align: center;
	font-family: 'Archivo Black', sans-serif;
}

.subtitle {
	text-align: center;
	font-size: 2rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	max-width: 768px;
	margin: auto;
	margin-bottom: 48px;

}

/*
section
*/
section {
	padding: 98px 32px;
}

.padding-1 {
	padding: 1rem 32px;
}

.padding-2 {
	padding: 2rem 32px;
}

.padding-5 {
	padding: 2rem 32px;
}

.padding-10 {
	padding: 5rem 32px;

}

@media(min-width:768px) {
	section {
		padding: 64px 0px;
	}

	.padding-5 {
		padding: 5rem 0px;
	}

	.padding-10 {
		padding: 10rem 0px;

	}
}

/*
competitive section
*/

.competitive h2 {
	color: #fff;
}

.competitive .textbox svg {
	width: 16px;
	height: 16px;
	fill: var(--color-secondary);
}

.competitive .textbox h3 {
	font-size: 1rem;
	font-weight: 400;
	width: 70%;
	text-align: center;
}

.

/*
card section
*/
.card {
	cursor: pointer;
	transition: 0.3s ease;
	background: var(--color-primary);
	color: #ffff;
	padding: 98px;
	box-shadow: var(--color-box-shadow);
}

.card:hover {
	background: var(--color-secondary);
}

/*
process section
*/

.process .textbox svg {
	width: 48px;
	height: 48px;
	fill: var(--color-secondary);
}

/*
testimonial section
*/

.testimonial img {
	width: 80px;
	height: 80px;
	margin: 1rem;
	object-fit: cover;
	-webkit-box-shadow: -20px -20px 0px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -20px -20px 0px 0px rgba(0, 0, 0, 0.75);
	box-shadow: -20px -20px 0px 0px rgba(0, 0, 0, 0.75);
}

.testimonial > div {
	display: flex;
	align-items: center;
}

.testimonial p {
	font-style: italic;
}

.testimonial > div p {
	font-style: normal;
}

.instructor img {
	border-radius: 50%;
}

/*
faq
*/
.faq h3 {
	margin: 0;
	margin-top: 32px;
}

/*
footer
*/
footer {
	text-align: center;
	padding: 32px 0px;
}

/*
grid
*/
.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
	max-width: 1268px;
	width: 100%;
	margin: auto;
}

.max-width-768 {
	max-width: 768px;
}

.max-width-1024 {
	max-width: 1024px;
}

.max-width-1268 {
	max-width: 1268px;
}

.gap-1 {
	grid-gap: 1rem;
}

.gap-2 {
	grid-gap: 2rem;
}

.gap-3 {
	grid-gap: 3rem;
}

.gap-4 {
	grid-gap: 4rem;
}

.row {
	grid-column: 1 / -1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.columns-1,
.columns-2,
.columns-3 {
	-ms-grid-columns: (1fr)[1];
	grid-template-columns: repeat(1, 1fr);
}

@media(min-width: 1024px) {
	.columns-2 {
		-ms-grid-columns: (1fr)[2];
		grid-template-columns: repeat(2, 1fr);
	}

	.columns-3 {
		-ms-grid-columns: (1fr)[3];
		grid-template-columns: repeat(3, 1fr);
	}
}

.text-center {
	text-align: center;
}

/*
form
----------------------------------
*/
